<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<?define ServiceName="MySQLServer"?>
	<?define ServiceIni="$(var.ServiceName).ini"?>

	<Module
		Id="MySQLInstallAsService"
		Language="1033"
		Version="1.0.0.0"
		Codepage="1252"
	>
		<Package
			Id="4b8ab94d-7e59-4a64-8ff9-eceb46327daa"
			Keywords="MySQL, service, Installer"
			Comments="[~]"
			Manufacturer="IT-Service"
			InstallerVersion="200"
			AdminImage="yes"
			Description="This package allows the registration of mySQL as a service."
			InstallPrivileges="elevated"
			InstallScope="perMachine"
			Languages="1033"
			SummaryCodepage="1252"
		/>

		<InstallExecuteSequence>
			<StopServices/>
			<DeleteServices/>
			<InstallServices/>
			<StartServices/>
		</InstallExecuteSequence>

		<IgnoreModularization Name="C.bin.mysqld.exe"/>
		<IgnoreModularization Name="D.bin"/>
		<IgnoreModularization Name="DATADIR"/>

		<IgnoreTable Id="Directory"/>
		<IgnoreTable Id="Component"/>

		<Component
			Id="C.bin.mysqld.exe" 
			Guid="{6FFFEF5E-7F46-5ED8-8EFD-016C72BFA11B}"
			Directory="D.bin"
		>
			<ServiceInstall
				Name="$(var.ServiceName)"
				DisplayName="MySQL Server"
				Arguments='--defaults-file="[DATADIR]\$(var.ServiceIni)" $(var.ServiceName)'
				Description="MySQL Server service"
				ErrorControl="normal"
				Interactive="no"
				Start="auto"
				Type="ownProcess"
				Vital="yes"
				Account="NT AUTHORITY\LocalService"
			/>
			<ServiceControl
				Id="StartAndStopService"
				Name="$(var.ServiceName)"
				Start="install"
				Stop="uninstall"
				Wait="yes"
			/>

			<IniFile Id="mysql.ini.01" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="client" Key="port" Value="3306"/>

			<IniFile Id="mysql.ini.02" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysql" Key="default-character-set" Value="utf8"/>

			<IniFile Id="mysql.ini.03" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="port" Value="3306"/>
			<IniFile Id="mysql.ini.04" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="basedir" Value="[INSTALLDIR]"/>
			<IniFile Id="mysql.ini.05" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="datadir" Value="[datadir.mysql.mysqlserver.data]"/>
			<IniFile Id="mysql.ini.06" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="character-set-server" Value="utf8"/>
			<IniFile Id="mysql.ini.07" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="sql-mode" Value="STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"/>
			<IniFile Id="mysql.ini.08" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="max_connections" Value="100"/>
			<IniFile Id="mysql.ini.09" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="query_cache_size" Value="256M"/>
			<IniFile Id="mysql.ini.10" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="table_cache" Value="1520"/>
			<IniFile Id="mysql.ini.11" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="tmp_table_size" Value="16M"/>
			<IniFile Id="mysql.ini.12" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="thread_cache_size" Value="38"/>

			<IniFile Id="mysql.ini.13" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="default-storage-engine" Value="MyISAM"/><!--INNODB-->
			<IniFile Id="mysql.ini.14" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="myisam_max_sort_file_size" Value="1G"/>
			<IniFile Id="mysql.ini.15" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="myisam_sort_buffer_size" Value="64M"/>
			<IniFile Id="mysql.ini.16" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="key_buffer_size" Value="256M"/>
			<IniFile Id="mysql.ini.17" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="read_buffer_size" Value="64K"/>
			<IniFile Id="mysql.ini.18" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="read_rnd_buffer_size" Value="256K"/>
			<IniFile Id="mysql.ini.19" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="sort_buffer_size" Value="256K"/>

			<IniFile Id="mysql.ini.20" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="skip-innodb" Value="yes"/>
<!--
			<IniFile Id="mysql.ini.21" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="innodb_additional_mem_pool_size" Value="12M"/>
			<IniFile Id="mysql.ini.22" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="innodb_flush_log_at_trx_commit" Value="2"/>
			<IniFile Id="mysql.ini.23" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="innodb_log_buffer_size" Value="6M"/>
			<IniFile Id="mysql.ini.24" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="innodb_buffer_pool_size" Value="512M"/>
			<IniFile Id="mysql.ini.25" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="innodb_log_file_size" Value="10M"/>
			<IniFile Id="mysql.ini.26" Action="addLine" Directory="DATADIR" Name="$(var.ServiceIni)" Section="mysqld" Key="innodb_thread_concurrency" Value="10"/>
-->			

		</Component>

	</Module>
</Wix>
